<div>
    André Marcelo Alvarenga<br>
    <i>for the brazilian portuguese (pt_BR) translation.</i>
</div>
<div>
    Étienne Deparis<br>
    <i>for the french (fr) translation.</i>
</div>
<div>
    Gerardo Zamudio<br>
    <i>for the spanish mexican (es_MX) translation.</i>
</div>
<div>
    gluon9<br>
    <i>for the french (fr) translation.</i>
</div>
<div>
    Igor Almeida<br>
    <i>for the help with F-Droid.</i>
</div>
<div>
    Jeison Pandini<br>
    <i>for the brazilian portuguese (pt_BR) translation.</i>
</div>
<div>
    Jesper Runeson<br>
    <i>for the amazing app icon.</i><br>
    <i>for the notification icon.</i><br>
    <i>for the navigation drawer header image.</i>
</div>
<div>
    Marco Bresciani<br>
    <i>for the italian (it) translation.</i>
</div>
<div>
    Maxim Reznik<br>
    <i>for the russian (ru) translation.</i>
</div>
<div>
    Michael Wodniok<br>
    <i>for refuelings without a price.</i><br>
    <i>for making the graphs handle timestamps more reliably.</i><br>
    <i>for adding the AOSP color picker.</i><br>
    <i>for improve the costs report with marking predictions and showing costs for the last
        year.</i>
</div>
<div>
    Mihai Ibanescu<br>
    <i>for the Fuel Consumption setting.</i>
</div>
